In [ ]:
import numpy as np
import pandas as pd
import pymc3 as pm;
from ipywidgets import interact
import arviz as az
import matplotlib.pyplot as plt
import matplotlib.patches as patches;

## Import data from prestored data sets in Arviz

In [2]:
radon_data = az.load_arviz_data(dataset='radon')

If not give the dataset name, all datasets will be shown in Error

## List all the groups

In [3]:
radon_data

Inference data with groups:
	> posterior
	> sample_stats
	> posterior_predictive
	> prior
	> observed_data

## Convert data set to pandas df

In [4]:
radon_df = radon_data.observed_data.to_dataframe()
radon_df.shape

(919, 1)

In [5]:
radon_df.head(10)

                   y_like
observed_county
AITKIN           0.832909
AITKIN           0.832909
AITKIN           1.098612
AITKIN           0.095310
ANOKA            1.163151
ANOKA            0.955511
ANOKA            0.470004
ANOKA            0.095310
ANOKA           -0.223144
ANOKA            0.262364

## Count the number of counties included in radon study

In [6]:
radon_df.index.nunique()

85

In [7]:
radon_df.index.unique()[:10]

Index(['AITKIN', 'ANOKA', 'BECKER', 'BELTRAMI', 'BENTON', 'BIG STONE',
       'BLUE EARTH', 'BROWN', 'CARLTON', 'CARVER'],
      dtype='object', name='observed_county')